[Unit]
Description=MISP workers
After=network.target remote-fs.target nss-lookup.target httpd.service

[Service]
Environment=SCL_PHP_WRAPPER=
EnvironmentFile=-/etc/default/misp-workers
Type=forking
ExecStart=/bin/bash -c '${SCL_PHP_WRAPPER} /var/www/MISP/app/Console/worker/start.sh'
User=apache

[Install]
WantedBy=multi-user.target
